.header{
    padding: 2rem 0 ;
    border-bottom: solid 2px #5589A3;
    
  }
  .logo{
    width: 7rem;
  
  }
  .social-media_item {
    width: 4rem;
    height: 4rem;
    background: #5589A3;
    padding: 0.5rem;
    border-radius: 5rem;
    
    transition: ease-out .4s;
  }
  
  .social-media_item a{
    margin: auto;
  }
  .social-media_item:hover{
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    transform: scale(1.2);
  }
  .social-media_item:not(:last-child){
    margin-right: 1rem;
  }
  a{
    color: #fff;
  }